torch>=2.3.0
torchvision>=0.18.0
torchaudio>=2.3.0

numpy
pandas
matplotlib
scikit-learn
opencv-python
Pillow
tqdm
pyyaml
tensorboard
albumentations
timm
seaborn
plotly
streamlit
torchmetrics
fvcore
thop
scipy
